/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap");
@import url("https://use.typekit.net/gnr3hac.css");
@import url(/node_modules/magnify/dist/css/magnify.css);
@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

p {
  font-size: 1.6rem; }
  @media only screen and (max-width: 37.5em) {
    p {
      font-size: 1.4rem; } }

.main {
  transition: .5s; }

.title__hr {
  width: 1%;
  border-top: 3px solid black;
  margin: 0 auto;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .title__hr {
      width: 3%; } }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    outline: none;
    text-decoration: none;
    color: #fff; }

*:focus {
  outline: none !important; }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #000;
  letter-spacing: 0.1rem;
  background: #141618;
  font-family: 'Poppins', sans-serif; }

.general-btn {
  font-size: 1.4rem;
  margin: 1.5rem auto 0;
  border-radius: 25px;
  padding: 8px 24px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  letter-spacing: .08rem;
  outline: none;
  transition: all .5s ease; }
  .general-btn:hover {
    cursor: pointer; }

#loading {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  z-index: 10; }

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite; }

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s; }

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s; }

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      position: fixed;
      top: 0;
      background: transparent;
      height: 64px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      height: 50px; } }
  .navigation__wrapper {
    display: flex;
    max-width: 1800px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .5s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .navigation__wrapper {
        padding: 0 0 0 25px;
        height: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__wrapper {
        padding-left: 25px;
        padding-right: 25px; } }
  .navigation__logo-container {
    display: flex;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%; }
  .navigation__logo {
    height: 3rem; }
    .navigation__logo:hover {
      cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__logo {
        margin-bottom: 0; } }
    @media only screen and (max-width: 75em) {
      .navigation__logo {
        -webkit-filter: none;
        filter: none; } }
  .navigation__social-icon {
    padding: 0 1.5rem;
    color: #fff;
    transition: all .2s ease-in-out; }
    .navigation__social-icon:hover {
      color: #e02b0f;
      cursor: pointer; }
  .navigation__list {
    display: flex;
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
  .navigation__button {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 25px;
    padding: 5px 24px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    letter-spacing: .08rem;
    transition: all .5s ease; }
  .navigation__item {
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    letter-spacing: .15rem;
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 3.2;
    font-weight: 600; }
    .navigation__item:hover {
      text-decoration: none;
      color: #e02b0f;
      cursor: pointer; }
  .navigation__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem; }
    .navigation__social__icon {
      height: 2rem;
      padding: 0 1rem;
      fill: #fff;
      transition: all .5s; }
      .navigation__social__icon:hover {
        fill: #e02b0f; }
  .navigation__nav-scrolled {
    background: #141618;
    border-bottom: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__nav-scrolled {
        border-bottom: none; } }

.hamburger {
  background-color: transparent;
  height: 64px;
  width: 64px;
  float: right;
  margin-top: .5rem;
  margin-right: 1rem;
  position: fixed;
  top: .5rem;
  right: 0;
  z-index: 5;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .hamburger {
      display: inline-block;
      margin-top: 0;
      top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .hamburger {
      margin: 0 1rem 0 0;
      width: 50px;
      height: 50px;
      top: 0; } }
  .hamburger_btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    -webkit-appearance: attachment;
    transition: margin .2s; }
    @media only screen and (max-width: 37.5em) {
      .hamburger_btn {
        width: 50px;
        height: 50px; } }
  .hamburger__span {
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear; }
    @media only screen and (max-width: 56.25em) {
      .hamburger__span {
        height: 1px; } }
    @media only screen and (max-width: 37.5em) {
      .hamburger__span {
        height: 1px;
        width: 35px; } }
    .hamburger__span:before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: white;
      transition: all 0.3s linear; }
    .hamburger__span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 40%; }
    .hamburger__span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 49%; }
    .hamburger__span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 59%; }
  .hamburger.on span:nth-child(1) {
    background: white;
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }
  .hamburger.on span:nth-child(2) {
    background: white;
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }
  .hamburger.on span:nth-child(3) {
    background: white;
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }

.sidenav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #141618;
  padding: 50px 0;
  transform: translateX(100vw);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s; }
  .sidenav .row {
    justify-content: center; }
  .sidenav__list {
    list-style-type: none;
    color: rgba(39, 39, 39, 0.753);
    letter-spacing: 0.2rem;
    padding: 0;
    text-align: center; }
    @media only screen and (max-height: 37.5em) and (orientation: landscape) {
      .sidenav__list {
        padding-top: 16rem; } }
  .sidenav__item {
    color: white;
    font-size: 4rem;
    padding-bottom: .5rem; }
  .sidenav__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .sidenav__social__icon {
      font-size: 4rem;
      padding: 0 2rem 0 0;
      fill: #fff; }
  .sidenav__logo-container {
    display: flex; }
    .sidenav__logo-container__logo {
      width: 28rem;
      padding-top: 3rem;
      margin: 0 auto; }

.store-link-sidenav:hover {
  text-decoration: none;
  color: #fff; }

.no-scroll {
  overflow: hidden; }

.main-transform-x {
  transform: translateX(-100vw); }

.sidenav-transform-x {
  transform: translateX(0); }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/laxi-color-dark-compressor.jpg);
  min-height: 100vh;
  color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      min-height: 100vh;
      background-attachment: scroll; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      margin-top: 0;
      background-position-x: 37%; } }
  .hero__hero-container {
    display: flex;
    flex-direction: column; }
  .hero__logo {
    width: 57rem;
    margin: 0 auto;
    padding-bottom: 4rem; }
    @media only screen and (max-height: 37.5em) and (orientation: landscape) {
      .hero__logo {
        width: 35rem;
        padding-top: 7rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__logo {
        width: 36rem; } }
  .hero__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 9rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media only screen and (max-width: 37.5em) {
      .hero__title {
        font-size: 5.5rem; } }
  .hero__sub-title {
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem; }
  .hero__music-wrapper {
    display: flex;
    justify-content: center; }
  .hero__music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
    margin-right: 6rem;
    position: relative;
    bottom: 0;
    transition: all .2s ease-in-out; }
    .hero__music-container:hover {
      bottom: .5rem;
      cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .hero__music-container {
        margin-left: 3rem;
        margin-right: 3rem; } }
    .hero__music-container__title {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: .3rem;
      font-weight: 600;
      padding-top: 2.5rem;
      text-align: center; }
  .hero__button {
    font-size: 1.4rem;
    margin: 1.5rem auto 0;
    border-radius: 25px;
    padding: 8px 24px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    letter-spacing: .08rem;
    transition: all .5s ease; }
    .hero__button:hover {
      background: #fff;
      color: #000; }
    .hero__button:active {
      outline: none; }
    .hero__button--store {
      background: #e02b0f;
      color: #fff;
      border: 2px solid #e02b0f; }
      .hero__button--store:hover {
        background: #fff;
        color: #e02b0f;
        border: 2px solid #fff;
        text-decoration: none; }

.services {
  padding: 30px 0 80px;
  display: flex;
  flex-direction: column; }
  .services__title {
    text-align: center; }
  .services .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .services__item {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem; }
    @media only screen and (max-width: 37.5em) {
      .services__item {
        width: 100%;
        margin-bottom: 5rem; } }
  .services__photo {
    border-radius: 50%;
    margin: auto;
    height: 200px;
    width: 200px;
    object-fit: cover; }
    @media only screen and (max-width: 56.25em) {
      .services__photo {
        height: 150px;
        width: 150px; } }
  .services__item-title {
    padding-top: 2rem;
    text-align: center;
    color: #000; }
  .services__text {
    color: #c9c9c9;
    padding-top: 1rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .services__text {
        padding-top: .5rem; } }
  .services__btn {
    color: #000;
    border: 2px solid #000; }
    .services__btn:hover {
      cursor: pointer;
      color: #fff;
      background: #000; }
    @media only screen and (max-width: 37.5em) {
      .services__btn {
        margin-top: 1rem; } }

.photos {
  position: relative;
  padding-bottom: 60px; }
  .photos .row {
    padding: 0 4px; }
    @media only screen and (max-width: 37.5em) {
      .photos .row {
        padding: 0 2px; } }
  .photos__column {
    flex: 25%;
    max-width: 25%; }
    @media only screen and (max-width: 56.25em) {
      .photos__column {
        flex: 50%;
        max-width: 50%; } }
  .photos__photo {
    width: 100%;
    padding: 4px; }
    @media only screen and (max-width: 37.5em) {
      .photos__photo {
        padding: 2px; } }
  .photos__gray--container {
    position: absolute;
    top: 0;
    left: 0; }
    .photos__gray--container .row {
      padding: 0 4px; }
      @media only screen and (max-width: 37.5em) {
        .photos__gray--container .row {
          padding: 0 2px; } }
    .photos__gray--container__column {
      flex: 25%;
      max-width: 25%; }
      @media only screen and (max-width: 56.25em) {
        .photos__gray--container__column {
          flex: 50%;
          max-width: 50%; } }
    .photos__gray--container__photo {
      width: 100%;
      padding: 4px;
      opacity: 1;
      transition: opacity 2s ease-in-out; }
      @media only screen and (max-width: 37.5em) {
        .photos__gray--container__photo {
          padding: 2px; } }

.o-fade {
  opacity: 0; }

.parallax {
  min-height: 450px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .parallax {
      min-height: 350px; } }
  .parallax__text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .parallax__text-one {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-family: 'futura-pt', sans-serif;
    font-weight: 300; }
    @media only screen and (max-width: 37.5em) {
      .parallax__text-one {
        font-size: 4rem; } }
  .parallax__logo {
    -webkit-filter: invert(100);
    filter: invert(100);
    height: 18rem; }
  .parallax__play-icon {
    margin: 1rem auto 0;
    font-size: 12rem;
    color: white;
    transition: all .3s ease-in-out; }
    .parallax__play-icon:hover {
      transform: scale(1.2);
      cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .parallax__play-icon {
        font-size: 10rem; } }
  .parallax__social-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .parallax__social-icon {
    color: #fff;
    transition: all .2s ease-in-out;
    font-size: 7em; }
    .parallax__social-icon:hover {
      color: #e02b0f;
      cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .parallax__social-icon {
        font-size: 3em; } }
  .parallax__pad-mid {
    padding: 0 3rem; }
    @media only screen and (max-width: 37.5em) {
      .parallax__pad-mid {
        padding: 0 1.5rem; } }
  .parallax__pad-left {
    padding-left: 3rem;
    padding-right: 0; }
    @media only screen and (max-width: 37.5em) {
      .parallax__pad-left {
        padding-left: 1.5rem; } }
  .parallax__pad-right {
    padding-right: 3rem;
    padding-left: 0; }
    @media only screen and (max-width: 37.5em) {
      .parallax__pad-right {
        padding-right: 1.5rem; } }

.modal-backdrop.in {
  filter: alpha(opacity=7);
  opacity: 0.7; }

.modal-content {
  background: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; }

.modal-body {
  width: 800px;
  top: -30px; }
  @media only screen and (max-width: 37.5em) {
    .modal-body {
      width: 46rem; } }

.modal-dialog {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.modal-header {
  padding: 0 0 10px 0;
  width: 100%;
  text-align: right;
  justify-content: flex-end; }

.modal-header,
.modal-footer {
  border: 0; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden; }

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1; }

.video-link {
  padding-top: 70px; }

.video-link a:hover,
.video-link a:focus {
  outline: 0; }

a .video-link-text {
  color: #fff;
  opacity: 0.8;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

a:hover .video-link-text,
a:focus .video-link-text {
  outline: 0;
  color: #fff;
  opacity: 1;
  border-bottom: 1px dotted #fff; }

a .video-link-icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #e89a3e;
  color: #fff;
  line-height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

a .video-link-icon:after {
  position: absolute;
  content: "";
  top: -6px;
  left: -6px;
  width: 66px;
  height: 66px;
  background: #444;
  background: rgba(0, 0, 0, 0.1);
  z-index: -99;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

a:hover .video-link-icon,
a:focus .video-link-icon {
  outline: 0;
  background: #fff;
  color: #e89a3e; }

.about {
  padding: 120px 0 120px;
  position: relative;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 9rem 0; } }
  .about .row {
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .about .row {
        padding-bottom: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .about .row {
        padding-bottom: 4rem; } }
  .about__image {
    width: 40%;
    margin: auto;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .about__image {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .about__image {
        width: 100%; } }
  .about__header {
    font-family: 'futura-pt', sans-serif;
    font-size: 6rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase; }
  .about__subheader {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #e02b0f;
    text-align: center;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .about__subheader {
        font-size: 2.4rem; } }
  .about__text {
    color: #c9c9c9;
    text-align: center;
    padding: 0 6rem 0rem; }
    .about__text span {
      font-style: italic;
      font-weight: bold; }
    .about__text i {
      font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about__text {
        padding: 0 6rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        padding: 0 0 1rem; } }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__btn-wrapper {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .about__btn-wrapper {
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__btn-wrapper {
        flex-direction: column; } }
  .about__button {
    margin-bottom: 3rem;
    margin-top: 1rem; }
    .about__button:hover {
      background: #fff;
      color: #000; }
    @media only screen and (max-width: 37.5em) {
      .about__button {
        margin-bottom: 4rem; } }
  .about__background {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.members {
  padding: 160px 0 60px;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .members {
      padding: 9rem 0 3rem; } }
  .members .row {
    justify-content: space-evenly; }
  .members__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .members__social-icon {
    padding: 0 1.5rem;
    transition: all .2s ease-in-out; }
    .members__social-icon:hover {
      color: #e02b0f; }
  .members__container {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .members__container {
        display: block;
        padding-bottom: 7rem; } }
  .members__name {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-weight: 300; }
    .members__name span {
      font-weight: 600; }
  .members__social-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .members__social-icon-mobile {
    font-size: 3rem;
    padding: 0 2rem; }

figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure figcaption::before,
figure figcaption::after {
  pointer-events: none; }

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

figure h2 span {
  font-weight: 800; }

figure h2,
figure p {
  margin: 0; }

figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

figure.effect-hera {
  background: #303fa9; }

figure.effect-hera h2 {
  font-size: 158.75%; }

figure.effect-hera h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    figure.effect-hera h2 {
      display: none; } }

figure.effect-hera p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%; }
  @media only screen and (max-width: 37.5em) {
    figure.effect-hera p {
      display: none; } }

figure.effect-hera figcaption::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%; }
  @media only screen and (max-width: 37.5em) {
    figure.effect-hera figcaption::before {
      display: none; } }

figure.effect-hera p {
  width: 100px;
  text-transform: none;
  font-size: 121%;
  line-height: 2; }

figure.effect-hera p a {
  color: #fff; }

figure.effect-hera p a:hover,
figure.effect-hera p a:focus {
  opacity: 0.6; }
  @media only screen and (max-width: 37.5em) {
    figure.effect-hera p a:hover,
    figure.effect-hera p a:focus {
      display: none; } }

figure.effect-hera p a i {
  opacity: 0;
  font-size: 3rem;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }
  @media only screen and (max-width: 37.5em) {
    figure.effect-hera p a i {
      display: none; } }

figure.effect-hera p a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0); }

figure.effect-hera p a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0); }

figure.effect-hera p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px, 60px, 0);
  transform: translate3d(-60px, 60px, 0); }

figure.effect-hera p a:nth-child(4) i {
  -webkit-transform: translate3d(60px, 60px, 0);
  transform: translate3d(60px, 60px, 0); }

figure.effect-hera:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); }

figure.effect-hera:hover h2 {
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1); }

figure.effect-hera:hover p i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* just because it's stronger than nth-child */
  opacity: 1; }

.tour {
  padding: 160px 0 60px;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .tour {
      padding: 12rem 0 3rem; } }
  .tour__header {
    text-transform: uppercase;
    font-family: 'futura-pt', sans-serif;
    font-size: 6rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 5rem; }
  .tour__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .tour__wrapper__container {
      display: flex;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding: 4rem 0;
      width: 100%; }
  .tour__venue, .tour__location, .tour__date {
    width: 33.3%;
    text-align: center; }
  .tour__border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.instagram {
  padding: 120px 0 120px;
  color: #000;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .instagram {
      padding: 80px 0 100px; } }
  .instagram__container {
    max-width: 2027px; }
  .instagram__row {
    justify-content: space-evenly; }
  .instagram__header {
    font-family: 'futura-pt', sans-serif;
    font-size: 6rem;
    text-align: center;
    padding-bottom: .5rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase; }
  .instagram__header-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .instagram__header-icon {
    font-size: 10rem;
    color: #303030; }
  .instagram__follow {
    border: 1px solid transparent;
    background-color: #3897f0;
    border-radius: 4px;
    padding: 5px 9px;
    color: #fff;
    font-weight: bold;
    letter-spacing: .02rem;
    margin: auto 2rem;
    text-align: center; }
    .instagram__follow:hover {
      text-decoration: none;
      color: #fff; }
  .instagram__header--container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .instagram__anchor {
    display: flex;
    justify-content: center;
    align-items: center; }
  .instagram__icon {
    height: 5rem;
    padding-left: 1rem;
    transition: all .5s ease-in-out; }
    .instagram__icon:hover {
      transform: rotateX(180deg); }
  .instagram__hr {
    border-top: 3px solid #000;
    padding-bottom: 0; }
  .instagram__photo--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4rem; }
  .instagram__photo {
    height: 27rem;
    width: 27rem;
    margin: .5rem;
    overflow: hidden;
    background-color: #000; }
    .instagram__photo:hover .instagram__fetched {
      transform: scale(1.1);
      opacity: .3; }
    @media only screen and (max-width: 1679px) {
      .instagram__photo {
        height: 26rem;
        width: 26rem; } }
    @media only screen and (max-width: 1617px) {
      .instagram__photo {
        height: 25rem;
        width: 25rem; } }
    @media only screen and (max-width: 1555px) {
      .instagram__photo {
        height: 23rem;
        width: 23rem; } }
    @media only screen and (max-width: 1346px) {
      .instagram__photo {
        height: 32rem;
        width: 32rem; } }
    @media only screen and (max-width: 1346px) {
      .instagram__photo {
        height: 20rem;
        width: 20rem; } }
    @media only screen and (max-width: 1346px) {
      .instagram__photo {
        height: 19rem;
        width: 19rem; } }
    @media only screen and (max-width: 1080px) {
      .instagram__photo {
        height: 18rem;
        width: 18rem; } }
    @media only screen and (max-width: 1025px) {
      .instagram__photo {
        height: 17rem;
        width: 17rem; } }
    @media only screen and (max-width: 969px) {
      .instagram__photo {
        height: 15rem;
        width: 15rem; } }
    @media only screen and (max-width: 56.25em) {
      .instagram__photo {
        height: 20rem;
        width: 20rem; } }
    @media only screen and (max-width: 414px) {
      .instagram__photo {
        height: 14.3rem;
        width: 14.3rem; } }
    @media only screen and (max-width: 375px) {
      .instagram__photo {
        height: 12.8rem;
        width: 12.8rem; } }
  .instagram__fetched {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
    object-fit: cover; }

.profile {
  padding: 5rem 0; }

.profile::after {
  content: "";
  display: block;
  clear: both; }

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem; }

.profile-image img {
  border-radius: 50%; }

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem); }

.profile-user-settings {
  margin-top: 1.1rem;
  display: flex;
  padding-bottom: 1.5rem; }

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300; }

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem; }

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem; }

.profile-stats {
  margin-top: 2.3rem;
  padding-bottom: 1.5rem; }

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer; }

.profile-stats li:last-of-type {
  margin-right: 0; }

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem; }

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600; }

/* Gallery Section */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem; }

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer; }

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.gallery-item-info {
  display: none; }

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600; }

.gallery-item-likes {
  margin-right: 2.2rem; }

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1); }

.fa-clone,
.fa-comment {
  transform: rotateY(180deg); }

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Loader */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite; }

/* Media Query */
@media screen and (max-width: 37.5em) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0; }
  .profile::after {
    display: none; }
  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto; }
  .profile-image img {
    width: 7.7rem; }
  .profile-user-settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem; }
  .profile-user-name {
    font-size: 2.2rem; }
  .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem; }
  .profile-edit-btn {
    margin-left: 0; }
  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem; }
  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    flex-basis: 100%; }
  .profile-stats {
    order: 1;
    margin-top: 1.5rem; }
  .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada; }
  .profile-stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0; }
  .profile-stat-count {
    display: block; } }

/* Spinner Animation */
@keyframes loader {
  to {
    transform: rotate(360deg); } }

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/
@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center; }
  .profile-image {
    grid-row: 1 / -1; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem; }
  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0; }
  @media (max-width: 37.5em) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem; }
    .profile-image {
      grid-row: 1 / 2; }
    .profile-user-settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem; }
    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1; }
    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0; } } }

.blog {
  padding: 16rem 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .blog {
      padding-top: 8rem; } }
  .blog__hr {
    padding-bottom: 3rem; }
  .blog a {
    text-decoration: none; }
  .blog .row {
    flex-direction: column; }
  .blog__header {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 29rem;
    margin-bottom: 1rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.1);
    z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .blog__header {
        top: 7%; } }
    .blog__header--text-main {
      text-align: center;
      margin: auto;
      font-size: 2.2rem; }
      @media only screen and (max-width: 75em) {
        .blog__header--text-main {
          padding-top: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .blog__header--text-main {
          padding-top: 14rem; } }
    .blog__header--text-sub {
      text-align: center;
      margin: auto;
      font-size: 1.6rem;
      font-weight: 100; }
      .blog__header--text-sub a {
        font-weight: 400;
        color: #e02b0f;
        transition: all .2s; }
        .blog__header--text-sub a:hover {
          color: #e02b0f; }
  .blog__slider {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap; }
  .blog__post {
    margin: 3rem 1rem;
    width: 23%;
    -webkit-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    transition: all .3s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .blog__post {
        width: 44%; } }
    @media only screen and (max-width: 37.5em) {
      .blog__post {
        width: 100%; } }
    .blog__post:hover {
      transform: scale(1.03); }
  .blog__topImg {
    width: 100%;
    height: 350px;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .blog__topImg {
        height: 250px; } }
  .blog__content {
    padding: 2rem; }
  .blog__preview {
    font-size: 0.95rem;
    font-weight: 300; }
  .blog__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-top: 0;
    color: #000;
    padding-bottom: 1rem;
    text-align: center; }
  .blog__intro {
    line-height: 1.5;
    color: #c9c9c9; }
  .blog__info {
    font-weight: 300;
    color: #c9c9c9; }
  .blog__author {
    font-size: 0.9rem; }
  .blog__date {
    font-size: 0.85rem; }

.footer {
  background-color: #141618;
  padding: 8rem 0 3rem;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding-top: 10rem; } }
  .footer__logo--container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__logo {
    margin: 0 auto;
    height: 100px; }
    .footer__logo:hover {
      cursor: pointer; }
  .footer__tagline {
    text-align: center;
    font-style: italic; }
  .footer__contact--container {
    display: flex;
    justify-content: center;
    margin: 6rem 0; }
  .footer__location--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%; }
    @media only screen and (max-width: 37.5em) {
      .footer__location--wrapper {
        justify-content: center;
        width: 100%; } }
  .footer__icon {
    color: #e02b0f;
    font-size: 4rem;
    margin-bottom: 1rem; }
  .footer a {
    display: flex;
    font-size: 2rem; }
  .footer a:hover {
    text-decoration: none;
    cursor: pointer; }
  .footer__text {
    margin: 0 auto;
    color: #fff;
    padding-bottom: 1rem;
    transition: all .3s; }
    .footer__text:hover {
      text-decoration: none;
      color: #e02b0f; }
  .footer__subtext {
    font-size: 1.4rem; }
  .footer__copyright--container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem; }
  .footer__copyright--text {
    color: #fff;
    font-size: 1.2rem; }

.contact {
  padding: 80px 0; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      padding: 40px 0; } }
  .contact .row {
    display: flex;
    flex-direction: column; }
  .contact .form-group {
    display: flex; }
  .contact .form-control {
    font-size: 1.2rem;
    letter-spacing: .1rem; }
  .contact .form-check {
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact .form-check {
        line-height: 2; } }
    .contact .form-check-label {
      margin-left: .5rem; }
  .contact .form-check:nth-child(2) {
    margin: 0 2rem;
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact .form-check:nth-child(2) {
        margin: 0 1rem;
        line-height: 2; } }
  .contact__hr {
    padding-bottom: 3rem; }
  .contact__header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 auto 1rem;
    text-align: center; }
  .contact__text {
    color: #c9c9c9;
    font-weight: 100;
    margin: 0 auto 2rem;
    text-align: center; }
  .contact__preference {
    margin: 0;
    font-size: 1.2rem;
    color: #c9c9c9; }
    @media only screen and (max-width: 37.5em) {
      .contact__preference {
        font-size: 8px;
        line-height: 2.4; } }
  .contact__icon {
    padding-right: 2rem;
    font-size: 4rem; }
  .contact__button {
    color: #fff;
    background: #e02b0f;
    border: 2px solid #e02b0f; }
    .contact__button:hover {
      color: #e02b0f;
      background: #fff; }
