// Colors
$color-body: rgb(20, 22, 24);
$color-white: #fff;
$color-black: #000;

$color-background-dark: rgb(20, 22, 24);
$color-background-light: #e5e5e5;

$color-primary-header: #000;
$color-primary-text: #c9c9c9;

$color-primary-blue: #e02b0f;
$color-secondary-blue: #1d414d;

// Font
$default-font-size: 1.6rem;