.about {
    padding: 120px 0 120px;
    position: relative;
    color: $color-white;

    @include respond(phone){
        padding: 9rem 0;
    }

    .row {
        padding-bottom: 4rem;

        @include respond(tab-port){
            padding-bottom: 8rem;
        }

        @include respond(phone){
            padding-bottom: 4rem;
        }
    }

    &__image {
        width: 40%;
        margin: auto;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);

        @include respond(tab-port) {
            width: 70%;
        }

        @include respond(phone){
            width: 100%;
        }
    }
    
    &__header {
        font-family: 'futura-pt', sans-serif;
        font-size: 6rem;
        font-weight: 300;
        text-align: center;
        padding-bottom: 2rem;
        text-transform: uppercase;
    }

    &__subheader {
        font-family: 'Open Sans Condensed', sans-serif;
        color: $color-primary-blue;
        text-align: center;
        padding-bottom: 2rem;

        @include respond(phone){
            font-size: 2.4rem;
        }
    }

    &__text {
        color: $color-primary-text;
        text-align: center;
        padding: 0 6rem 0rem;

        span {
            font-style: italic;
            font-weight: bold;
        }

        i {
            font-size: 2rem;
        }

        @include respond(tab-port){
            padding: 0 6rem 2rem;
        }

        @include respond(phone){
            padding: 0 0 1rem;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: space-evenly;

        @include respond(tab-port){
            padding-bottom: 4rem;
        }

        @include respond(phone){
            flex-direction: column;
        }
    }

    &__button {
        margin-bottom: 3rem;
        margin-top: 1rem;

        &:hover {
            background: $color-white;
            color: $color-black;
        }

        @include respond(phone) {
            margin-bottom: 4rem;
        }
    }

    &__background {
        position: absolute;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}