.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/laxi-color-dark-compressor.jpg);
    min-height: 100vh;
    color: $color-white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(tab-port){
        min-height: 100vh;
        background-attachment: scroll;
    }

    @include respond(phone){
        margin-top: 0;
        background-position-x: 37%;
    }

    &__hero-container {
        display: flex;
        flex-direction: column;
        // padding-bottom: 7vh;
    }

    &__logo {
        width: 57rem;
        margin: 0 auto;
        padding-bottom: 4rem;
        position: relative;
        top: 5rem;
        opacity: 0;
        transition: all 1s;

        @include respond(phone-land) {
            width: 35rem;
            padding-top: 7rem;
        }

        @include respond(phone) {
            width: 36rem;
        }
    }

    &__title {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 400;
        color: $color-white;
        text-align: center;
        font-size: 9rem;
        padding-bottom: .5rem;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include respond(phone){
            font-size: 5.5rem;
        }
    }

    &__sub-title {
        color: $color-white;
        font-weight: 300;
        text-align: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.13rem;
    }

    &__music-wrapper {
        display: flex;
        justify-content: center;
    }

    &__music-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 6rem;
        margin-right: 6rem;
        position: relative;
        bottom: 0;
        position: relative;
        top: 5rem;
        opacity: 0;
        transition: all 1s;

        &:hover {
            bottom: .5rem;
            cursor: pointer;
        }

        @include respond(phone) {
            margin-left: 3rem;
            margin-right: 3rem;
        }

        &__icon {

        }

        &__title {
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: .3rem;
            font-weight: 600;
            padding-top: 2.5rem;
            text-align: center;
        }
    }

    &__button {
        font-size: 1.4rem;
        margin: 1.5rem auto 0;
        border-radius: 25px;
        padding: 8px 24px;
        border: 2px solid $color-white;
        background: transparent;
        color: $color-white;
        letter-spacing: .08rem;
        transition: all .5s ease;

        &:hover {
            background: $color-white;
            color: $color-black;
        }

        &:active {
            outline: none;
        }

        &--store {
            background: $color-primary-blue;
            color: $color-white;
            border: 2px solid $color-primary-blue;

            &:hover {
                background: $color-white;
                color: $color-primary-blue;
                border: 2px solid $color-white;
                text-decoration: none;
            }
        }
    }
}